/* Footer */
.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 10px;

  @media all and (min-width: 500px) {
    margin-top: 40px;
  }
}

.find-me {
  font-weight: 600;
  margin-bottom: 0;
  color: var(--button-bg-color);
}

.social-media a {
  fill: var(--another-white);
}

.social-media a:hover {
  fill: var(--interactive-hovered);
}
