.logo {
  display: flex;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 1rem;
  height: 90px;
  align-items: center;
}

/* navbar/page-header */
.main-navigation {
  display: flex;
  align-items: center;
}

.page-header {
  /* background-color: lightgray; */
  display: flex;
  justify-content: right;
  align-items: center;
  height: 90px;
  width: 100%;
  position: fixed;
  backdrop-filter: blur(5px);
  z-index: 50;
  padding: 0 1rem;

  @media all and (min-width: 500px) {
    justify-content: center;
  }
}

.page-header__item {
  // height: 100%;
  // text-align: left;
}

.page-header__item image {
  // flex: 0 1 200px;
}

.page-header__item:last-child {
  // text-align: right;
}

.navigation-list {
  list-style: none;
  padding: 0;
}

@media all and (min-width: 500px) {
  .page-header {
    // justify-content: center;
    // gap: 30px;
  }

  .navigation-list {
    display: flex;
    gap: 30px;
  }

  // .navigation-list__item--active {
  //   padding: 6px 12px;
  //   border-radius: 80px;
  //   border: 2px solid var(--primary-color);
  // }
}
