.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pagehome_infos {
  text-align: center;
  margin: 0 1rem;
}

.aboutme_wrapper {
  display: flex;
  flex-direction: column;
}

.avatar_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.avatar_container {
  width: 50%;
  border-radius: 25px;
  border: 1px dashed var(--primary);
}

.avatar_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
  // margin: 1rem 0;
  border: 3px solid rgba(255, 255, 255, 0);
}

.github_link_check_text {
  color: var(--visited-link-color);
  fill: var(--visited-link-color);
}

.github_link_check_text :hover {
  fill: var(--interactive-hovered);
}

@media all and (min-width: 500px) {
  .profile {
    flex-direction: row;
  }
  .aboutme_wrapper {
    display: flex;
    flex-direction: row;
    gap: 25px;
  }

  .pagehome_infos {
    text-align: unset;
  }

  .enter {
    display: none;
  }

  .avatar_container {
    width: 70%;
  }
}
