<!-- Footer with links to social media profiles -->
<footer class="page-footer">
  <p class="find-me">Find me on</p>
  <div class="social-media">
    <!-- Github logo -->
    <a href="https://github.com/knopgm" target="_blank">
      <include src="./src/img/github_icon.svg"></include>
    </a>
    <!-- LinkedIn logo -->
    <a
      href="https://www.linkedin.com/in/gabriela-knop-marques-b5075a53/"
      target="_blank"
    >
      <include src="./src/img/linkedin_icon.svg"></include>
    </a>
  </div>
</footer>
