<!-- Footer with links to social media profiles -->
<footer class="page-footer">
  <p class="find-me">Find me on</p>
  <div class="social-media">
    <!-- Github logo -->
    <a href="https://github.com/knopgm" target="_blank"
      ><img src="img/github_icon.svg" alt="github"
    /></a>
    <!-- Twitter logo -->
    <img src="img/twitter_icon.svg" alt="twitter" />
    <!-- LinkedIn logo -->
    <a
      href="https://www.linkedin.com/in/gabriela-knop-marques-b5075a53/"
      target="_blank"
    >
      <img src="img/linkedin_icon.svg" alt="linkedin"
    /></a>
  </div>
</footer>
