<header class="page-header">
  <div class="page-header__item">
    <img src="img/gkmLogo2.png" alt="logo" class="page-header__item image" />
  </div>

  <nav class="main-navigation page-header__item">
    <div id="menuToggle">
      <input type="checkbox" />
      <span></span>
      <span></span>
      <span></span>
      <ul id="menu" role="menubar" class="navigation-list">
        <li role="menuitem">
          <a href="#welcome" class="navigation-list__item">Home</a>
        </li>
        <li role="menuitem">
          <a
            href="#projects"
            onClick="toggleMenu()"
            class="navigation-list__item"
            >Work</a
          >
        </li>
        <li role="menuitem">
          <a href="#contact" class="navigation-list__item">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
