<header class="page-header">
  <div class="page-header__item">
    <img
      src="img/Color_logo2_no_background.png"
      alt="logo"
      class="page-header__item image"
    />
  </div>

  <nav class="main-navigation page-header__item">
    <div id="menuToggle">
      <input type="checkbox" />
      <span></span>
      <span></span>
      <span></span>
      <ul id="menu" role="menubar" class="navigation-list">
        <li role="menuitem">
          <a href="#welcome" class="navigation-list__item">About me</a>
        </li>
        <li role="menuitem">
          <a
            href="#projects"
            onClick="toggleMenu()"
            class="navigation-list__item"
            >Projects</a
          >
        </li>
        <li role="menuitem">
          <a href="#contact" class="navigation-list__item">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
  <script src="js/header.js"></script>
</header>
