<header class="page-header">
  <div class="logo">
    <include src="./src/img/drawing.svg"></include>
  </div>
  <nav class="main-navigation page-header__item">
    <div id="menuToggle">
      <input id="checkInput" type="checkbox" />
      <span></span>
      <span></span>
      <span></span>
      <ul id="menu" role="menubar" class="navigation-list">
        <a href="/#welcome" class="navigation-list__item"
          ><li role="menuitem">Home</li></a
        >
        <a href="/#projects" class="navigation-list__item"
          ><li role="menuitem">Work</li></a
        >
        <a href="/#contact" class="navigation-list__item"
          ><li role="menuitem">Contact</li></a
        >
        <a
          href="/src/study-case.html"
          target="_self"
          class="navigation-list__item"
        >
          <li role="menuitem">Case Study</li></a
        >
        <a
          href="./files/GabrielaKnopMarques_4_2025_CV.pdf"
          target="_blank"
          class="navigation-list__item"
        >
          <li role="menuitem">Résumé</li></a
        >
      </ul>
    </div>
  </nav>
</header>
<script src="./js/burguer.js"></script>
