<section id="knowledge" class="section_wrapper">
  <div class="tools-wrapper">
    <h2 class="techProgress_title">Tech Progress</h2>

    <div class="code_icons">
      <div class="icon">
        <img
          class="four-star_icon-animate"
          style="animation-delay: 0.8s"
          src="img/javascript-original.svg"
        />
        <div class="progressbar">
          <div></div>
        </div>
      </div>

      <div class="icon">
        <img
          class="four-star_icon-animate"
          style="animation-delay: 0.8s"
          src="img/nodejs-original-wordmark.svg"
        />
        <div class="progressbar">
          <div></div>
        </div>
      </div>

      <div class="icon">
        <img
          class="four-star_icon-animate"
          style="animation-delay: 0.8s"
          src="img/postgresql-original-wordmark.svg"
        />
        <div class="progressbar">
          <div></div>
        </div>
      </div>

      <div class="icon">
        <img
          class="four-star_icon-animate"
          style="animation-delay: 0.8s"
          src="img/react-original.svg"
        />
        <div class="progressbar">
          <div></div>
        </div>
      </div>

      <div class="icon">
        <img
          class="four-star_icon-animate"
          style="animation-delay: 0.8s"
          src="img/css3-original.svg"
        />
        <div class="progressbar">
          <div></div>
        </div>
      </div>

      <div class="icon">
        <img
          class="four-star_icon-animate"
          style="animation-delay: 0.8s"
          src="img/html5-original.svg"
        />
        <div class="progressbar">
          <div></div>
        </div>
      </div>

      <div class="icon">
        <img
          class="four-star_icon-animate"
          style="animation-delay: 0.8s"
          src="img/mongodb-original-wordmark.svg"
        />
        <div class="progressbar">
          <div></div>
        </div>
      </div>

      <div class="icon">
        <img
          class="four-star_icon-animate"
          style="animation-delay: 0.8s"
          src="img/express-original-wordmark.svg"
        />
        <div class="progressbar">
          <div></div>
        </div>
      </div>
    </div>
  </div>
</section>
