<!-- Main content -->
<section id="projects" class="section_wrapper">
  <div class="work-container">
    <div class="title_subtitle_center">
      <h1>/work<span class="yellowing">.</span></h1>
      <h3>Selected projects I've worked on in my past</h3>
    </div>
    <div class="grid">
      <!-- Grid items will live here -->
      <!-- MyFlix (Frontend) -->
      <div class="grid-item">
        <a href="https://myflix-gkm.netlify.app/" target="_blank">
          <h2 class="grid-item__title">MyFlix (Frontend)</h2></a
        >
        <div class="project__image-wrapper">
          <div class="project__image">
            <a href="https://myflix-gkm.netlify.app/" target="_blank">
              <img
                src="img/project_photos/myflix_screenshot.png"
                alt="Myflix_app_img"
            /></a>
          </div>
        </div>
        <p class="grid-item__description">
          This web application is a interactive movie store where users can not
          only search information about movies, genre and directors, but also
          keep a list of their favorite ones after a short registration. Created
          with the popular tech stack known as MERN (MongoDB, Express, React and
          Node.js).
        </p>
        <h4>Tech</h4>
        <ul class="project_techlist">
          <li>HTML</li>
          <li>CSS</li>
          <li>Javascript</li>
          <li>React</li>
          <li>Axios</li>
          <li>React Bootstrap</li>
          <li>React Router</li>
        </ul>
        <div class="grid-item__link">
          <a href="/src/study-case.html" class="item_link-study" target="_self">
            Case Study
          </a>
          <a href="https://github.com/knopgm/myFlix-client" target="_blank">
            <include class="item_link" src="./src/icons/github.svg"></include>
          </a>
          <a href="https://myflix-gkm.netlify.app/" target="_blank">
            <include class="item_link" src="./src/icons/external.svg"></include>
          </a>
        </div>
      </div>
      <!-- MyFlix (Backend) -->
      <div class="grid-item">
        <a href="https://github.com/knopgm/movie_api" target="_blank">
          <h2 class="grid-item__title">MyFlix (Backend)</h2></a
        >
        <div class="project__image-wrapper">
          <div class="project__image">
            <a href="https://github.com/knopgm/movie_api" target="_blank">
              <img
                src="img/project_photos/doc_myflix_screenshot.png"
                alt="myflix_backend_doc_img"
            /></a>
          </div>
        </div>
        <p class="grid-item__description">
          A server-side component built to store all the information about
          movies and users, allowing them to sign up, update their information
          and create a list of their favourite movies.
        </p>
        <h4>Tech</h4>
        <ul class="project_techlist">
          <li>MongoDB</li>
          <li>Express</li>
          <li>Node</li>
        </ul>
        <div class="grid-item__link">
          <a href="https://github.com/knopgm/movie_api" target="_blank">
            <include class="item_link" src="./src/icons/github.svg"></include>
          </a>
        </div>
      </div>
      <!-- Meet App -->
      <div class="grid-item">
        <a href="https://knopgm.github.io/meet" target="_blank">
          <h2 class="grid-item__title">Meet App</h2></a
        >
        <div class="project__image-wrapper">
          <div class="project__image">
            <a href="https://knopgm.github.io/meet" target="_blank">
              <img
                src="img/project_photos/meet_screenshot.png"
                alt="Meet_app_img"
            /></a>
          </div>
        </div>
        <p class="grid-item__description">
          The Meet App allows users to check on their event's schedule even when
          they are offline! For this project, React and the combo of a
          progressive web application (PWA) and test-driven development (TDD)
          technique requirements were accomplished.
        </p>
        <h4>Tech</h4>
        <ul class="project_techlist">
          <li>HTML</li>
          <li>CSS</li>
          <li>Javascript</li>
          <li>React</li>
          <li>React Bootstrap</li>
          <li>NProgress</li>
          <li>Recharts</li>
        </ul>
        <div class="grid-item__link">
          <a href="https://github.com/knopgm/meet" target="_blank">
            <include class="item_link" src="./src/icons/github.svg"></include>
          </a>
          <!-- <a href="https://knopgm.github.io/meet" target="_blank">
            <include class="item_link" src="./src/icons/external.svg"></include>
          </a> -->
        </div>
      </div>
      <!-- Pokedex -->
      <div class="grid-item">
        <a href="https://knopgm-pokedex-api.netlify.app/" target="_blank">
          <h2 class="grid-item__title">Pokedex</h2></a
        >
        <div class="project__image-wrapper">
          <div class="project__image">
            <a href="https://knopgm-pokedex-api.netlify.app/" target="_blank">
              <img
                src="img/project_photos/pokecard_react.png"
                alt="Pokedex_app_img"
            /></a>
          </div>
        </div>
        <p class="grid-item__description">
          This project will mock-up a pokedex, for users to search into a
          pokemons list including a few skills of each. Built with React, HTML
          and SCSS, the goal was load data from a external API, display and
          explore each of its data points in details.
        </p>
        <h4>Tech</h4>
        <ul class="project_techlist">
          <li>React</li>
          <li>HTML</li>
          <li>SCSS</li>
          <li>Axios</li>
        </ul>
        <div class="grid-item__link">
          <a
            href="https://github.com/knopgm/cf-ex2-external-api"
            target="_blank"
          >
            <include class="item_link" src="./src/icons/github.svg"></include>
          </a>
          <a href="https://knopgm-pokedex-api.netlify.app/" target="_blank">
            <include class="item_link" src="./src/icons/external.svg"></include>
          </a>
        </div>
      </div>
      <!-- Portfolio -->
      <div class="grid-item">
        <a href="https://github.com/knopgm/cf-ex1-portfolio" target="_blank"
          ><h2 class="grid-item__title">Portfolio</h2></a
        >
        <div class="project__image-wrapper">
          <div class="project__image">
            <a
              href="https://github.com/knopgm/cf-ex1-portfolio"
              target="_blank"
            >
              <img
                src="img/project_photos/portfolio_screenshot.png"
                alt="Portfolio_img"
              />
            </a>
          </div>
        </div>
        <p class="grid-item__description">
          My Portfolio is a easy and light static web-page, created to display
          my skills and some of the projects I coded. It’s written in the
          tradicional Javascript, HTML and CSS.
        </p>
        <h4>Tech</h4>
        <ul class="project_techlist">
          <li>HTML</li>
          <li>CSS</li>
          <li>Javascript</li>
          <li>serverless function</li>
        </ul>
        <div class="grid-item__link">
          <a href="https://github.com/knopgm/cf-ex1-portfolio" target="_blank">
            <include class="item_link" src="./src/icons/github.svg"></include>
          </a>
        </div>
      </div>
      <!-- MyFlix (Angular) -->
      <div class="grid-item">
        <a href="https://my-angular-flix.netlify.app" target="_blank">
          <h2 class="grid-item__title">MyFlix (Angular)</h2></a
        >
        <div class="project__image-wrapper">
          <div class="project__image">
            <a href="https://my-angular-flix.netlify.app" target="_blank">
              <img
                src="img/project_photos/myflix_angular_screenshot.png"
                alt="MyFlix_Angular_App_version_img"
            /></a>
          </div>
        </div>
        <p class="grid-item__description">
          This web application is a interactive movie store where users can not
          only search information about movies, genre and directors, but also
          keep a list of their favorite ones after a short registration. The
          goal was learn some basic knowleadge in one of the most popular
          Javascript frameworks: Angular.
        </p>
        <h4>Tech</h4>
        <ul class="project_techlist">
          <li>HTML</li>
          <li>CSS</li>
          <li>Javascript</li>
          <li>Angular</li>
          <li>Angular Material</li>
          <li>Angular Router</li>
        </ul>
        <div class="grid-item__link">
          <a
            href="https://github.com/knopgm/myFlix-Angular-client"
            target="_blank"
          >
            <include class="item_link" src="./src/icons/github.svg"></include>
          </a>
          <a href="https://my-angular-flix.netlify.app" target="_blank">
            <include class="item_link" src="./src/icons/external.svg"></include>
          </a>
        </div>
      </div>
      <!-- App Chat -->
      <div class="grid-item">
        <a href="https://github.com/knopgm/App-Chat" target="_blank">
          <h2 class="grid-item__title">App Chat</h2></a
        >
        <div class="project__image-wrapper">
          <div class="project__image">
            <a href="https://github.com/knopgm/App-Chat" target="_blank">
              <img
                src="img/project_photos/app_chat_screenshot.jpeg"
                alt="Chat_app_img"
            /></a>
          </div>
        </div>
        <p class="grid-item__description">
          A chat interface with option to share images, their location and
          chit-chat with friends online. Built for mobile devices using
          React-Native.
        </p>
        <h4>Tech</h4>
        <ul class="project_techlist">
          <li>Expo</li>
          <li>React Navigation</li>
          <li>Gifted Chat</li>
          <li>Firestore</li>
          <li>NetInfo</li>
          <li>Expo Permissions</li>
          <li>Expo Location</li>
          <li>Expo Image Picker</li>
          <li>React Native Maps</li>
        </ul>
        <div class="grid-item__link">
          <a href="https://github.com/knopgm/App-Chat" target="_blank">
            <include class="item_link" src="./src/icons/github.svg"></include>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
