<!-- Main content -->
<section id="projects" class="section_wrapper">
  <div class="work-container">
    <div class="title_subtitle_center">
      <h1>/work<span class="yellowing">.</span></h1>
      <h3>Selected projects I've worked on in my past</h3>
    </div>
    <div class="grid">
      <!-- Grid items will live here -->
      <!--  Comtext -->
      <div class="colored-box">
        <div class="colored-box__content">
          <div class="grid-item">
            <div class="project__image-wrapper">
              <div class="project__image">
                <a href="https://comtext.io/en" target="_blank">
                  <img src="img/project_photos/comtext.png" alt="Comtext_img"
                /></a>
              </div>
            </div>
            <div class="grid-item__text-wrapper">
              <a href="https://comtext.io/en" target="_blank">
                <h2 class="grid-item__title">Comtext</h2></a
              >

              <p class="grid-item__description">
                Comtext webpage was a 1 week Freelancing project to build the
                rebranded website of the company. After receiving a complete
                design system of the page, I work directly with one of the
                Owners of the business to ensure a clean, clear and reusable
                code in 1 week timeline.
              </p>
              <h4>Tech</h4>
              <ul class="project_techlist">
                <div class="project_techlist-item">
                  <li>React</li>
                </div>
                <div class="project_techlist-item">
                  <li>Typescript</li>
                </div>
                <div class="project_techlist-item">
                  <li>Tailwindcss</li>
                </div>
              </ul>
              <div class="grid-item__link">
                <a
                  href="https://github.com/acidio/comtext-website"
                  target="_blank"
                >
                  <include
                    class="item_link"
                    src="./src/icons/github.svg"
                  ></include>
                </a>
                <a href="https://comtext.io/en" target="_blank">
                  <include
                    class="item_link"
                    src="./src/icons/external.svg"
                  ></include>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- BlogMe Articles -->
      <div class="colored-box">
        <div class="colored-box__content">
          <div class="grid-item">
            <div class="project__image-wrapper">
              <div class="project__image">
                <a href="https://blog-gkm.netlify.app/blog/all" target="_blank">
                  <img
                    src="img/project_photos/BlogMe.png"
                    alt="BlogMe_Articles_app_img"
                /></a>
              </div>
            </div>
            <div class="grid-item__text-wrapper">
              <a href="https://blog-gkm.netlify.app/blog/all" target="_blank">
                <h2 class="grid-item__title">BlogMe Articles</h2></a
              >

              <p class="grid-item__description">
                My proud first real project as an intern at Smatched company is
                an entirely fully functional feature that provides the company
                with a styled space to publish their articles. After filling an
                object file with the article's pieces of information and another
                with the article's basic info, the feature renders a list of
                articles in card formats that can be easily assessed and has
                full navigation, back and forward, through the whole
                application.
              </p>
              <h4>Tech</h4>
              <ul class="project_techlist">
                <div class="project_techlist-item">
                  <li>React</li>
                </div>
                <div class="project_techlist-item">
                  <li>Typescript</li>
                </div>
                <div class="project_techlist-item">
                  <li>react-router-dom</li>
                </div>
                <div class="project_techlist-item">
                  <li>react-text-truncate</li>
                </div>
                <div class="project_techlist-item">
                  <li>react-helmet</li>
                </div>
              </ul>
              <div class="grid-item__link">
                <a href="https://github.com/knopgm/blogMe" target="_blank">
                  <include
                    class="item_link"
                    src="./src/icons/github.svg"
                  ></include>
                </a>
                <a href="https://blog-gkm.netlify.app/blog/all" target="_blank">
                  <include
                    class="item_link"
                    src="./src/icons/external.svg"
                  ></include>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Delivery Fee Calculator -->
      <div class="colored-box">
        <div class="colored-box__content">
          <div class="grid-item">
            <div class="project__image-wrapper">
              <div class="project__image">
                <a
                  href="https://deliveryfeecalculator-gkm.netlify.app/"
                  target="_blank"
                >
                  <img
                    src="img/project_photos/calculateFee_.png"
                    alt="Delivery_Fee_Calculator_app_img"
                /></a>
              </div>
            </div>
            <div class="grid-item__text-wrapper">
              <a
                href="https://deliveryfeecalculator-gkm.netlify.app/"
                target="_blank"
              >
                <h2 class="grid-item__title">Delivery Fee Calculator</h2></a
              >

              <p class="grid-item__description">
                An app challenge of a big company that I enjoyed participating
                in was building a complex delivery fee calculator that, based on
                some specific rules and after the user fills in some
                information, calculates the fee price of the delivery. It was
                created with React and Typescript. Since it has many complex
                calculation rules, testing was essential to ensure the main goal
                was applying and training with Jest and the react-testing
                library.
              </p>
              <h4>Tech</h4>
              <ul class="project_techlist">
                <div class="project_techlist-item">
                  <li>React</li>
                </div>
                <div class="project_techlist-item">
                  <li>Typescript</li>
                </div>
                <div class="project_techlist-item">
                  <li>Jest</li>
                </div>
                <div class="project_techlist-item">
                  <li>react-testing-library</li>
                </div>
              </ul>
              <div class="grid-item__link">
                <a href="https://github.com/knopgm/deliveryFee" target="_blank">
                  <include
                    class="item_link"
                    src="./src/icons/github.svg"
                  ></include>
                </a>
                <a
                  href="https://deliveryfeecalculator-gkm.netlify.app/"
                  target="_blank"
                >
                  <include
                    class="item_link"
                    src="./src/icons/external.svg"
                  ></include>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- MyFlix (Frontend) -->
      <div class="colored-box">
        <div class="colored-box__content">
          <div class="grid-item">
            <div class="project__image-wrapper">
              <div class="project__image">
                <a href="https://myflix-gkm.netlify.app/" target="_blank">
                  <img
                    src="img/project_photos/myflix_react.png"
                    alt="Myflix_app_img"
                /></a>
              </div>
            </div>
            <div class="grid-item__text-wrapper">
              <a href="https://myflix-gkm.netlify.app/" target="_blank">
                <h2 class="grid-item__title">MyFlix (Frontend)</h2></a
              >

              <p class="grid-item__description">
                This web application is a interactive movie store where users
                can not only search information about movies, genre and
                directors, but also keep a list of their favorite ones after a
                short registration. Created with the popular tech stack known as
                MERN (MongoDB, Express, React and Node.js).
              </p>
              <h4>Tech</h4>
              <ul class="project_techlist">
                <div class="project_techlist-item">
                  <li>Javascript</li>
                </div>
                <div class="project_techlist-item">
                  <li>React</li>
                </div>
                <div class="project_techlist-item">
                  <li>Axios</li>
                </div>
                <div class="project_techlist-item">
                  <li>React Bootstrap</li>
                </div>
                <div class="project_techlist-item">
                  <li>React Router</li>
                </div>
              </ul>
              <div class="grid-item__link">
                <a
                  href="/src/study-case.html"
                  class="item_link-study"
                  target="_self"
                >
                  Case Study
                </a>
                <a
                  href="https://github.com/knopgm/myFlix-client"
                  target="_blank"
                >
                  <include
                    class="item_link"
                    src="./src/icons/github.svg"
                  ></include>
                </a>
                <a href="https://myflix-gkm.netlify.app/" target="_blank">
                  <include
                    class="item_link"
                    src="./src/icons/external.svg"
                  ></include>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- MyFlix (Backend) -->
      <div class="colored-box">
        <div class="colored-box__content">
          <div class="grid-item">
            <div class="project__image-wrapper">
              <div class="project__image">
                <a href="https://github.com/knopgm/movie_api" target="_blank">
                  <img
                    src="img/project_photos/doc_myflix_screenshot.png"
                    alt="myflix_backend_doc_img"
                /></a>
              </div>
            </div>
            <div class="grid-item__text-wrapper">
              <a href="https://github.com/knopgm/movie_api" target="_blank">
                <h2 class="grid-item__title">MyFlix (Backend)</h2></a
              >
              <p class="grid-item__description">
                A server-side component built to store all the information about
                movies and users, allowing them to sign up, update their
                information and create a list of their favourite movies.
              </p>
              <h4>Tech</h4>
              <ul class="project_techlist">
                <div class="project_techlist-item">
                  <li>MongoDB</li>
                </div>
                <div class="project_techlist-item">
                  <li>Express</li>
                </div>
                <div class="project_techlist-item">
                  <li>Node</li>
                </div>
              </ul>
              <div class="grid-item__link">
                <a href="https://github.com/knopgm/movie_api" target="_blank">
                  <include
                    class="item_link"
                    src="./src/icons/github.svg"
                  ></include>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Meet App -->
      <div class="colored-box">
        <div class="colored-box__content">
          <div class="grid-item">
            <div class="project__image-wrapper">
              <div class="project__image">
                <a href="https://knopgm.github.io/meet" target="_blank">
                  <img
                    src="img/project_photos/meet_screenshot.png"
                    alt="Meet_app_img"
                /></a>
              </div>
            </div>
            <div class="grid-item__text-wrapper">
              <a href="https://knopgm.github.io/meet" target="_blank">
                <h2 class="grid-item__title">Meet App</h2></a
              >
              <p class="grid-item__description">
                The Meet App allows users to check on their event's schedule
                even when they are offline! For this project, React and the
                combo of a progressive web application (PWA) and test-driven
                development (TDD) technique requirements were accomplished.
              </p>
              <h4>Tech</h4>
              <ul class="project_techlist">
                <div class="project_techlist-item">
                  <li>Javascript</li>
                </div>
                <div class="project_techlist-item">
                  <li>React</li>
                </div>
                <div class="project_techlist-item">
                  <li>React Bootstrap</li>
                </div>
                <div class="project_techlist-item">
                  <li>NProgress</li>
                </div>
                <div class="project_techlist-item">
                  <li>Recharts</li>
                </div>
              </ul>
              <div class="grid-item__link">
                <a href="https://github.com/knopgm/meet" target="_blank">
                  <include
                    class="item_link"
                    src="./src/icons/github.svg"
                  ></include>
                </a>
                <!-- <a href="https://knopgm.github.io/meet" target="_blank">
            <include class="item_link" src="./src/icons/external.svg"></include>
          </a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Pokedex -->
      <div class="colored-box">
        <div class="colored-box__content">
          <div class="grid-item">
            <div class="project__image-wrapper">
              <div class="project__image">
                <a
                  href="https://knopgm-pokedex-api.netlify.app/"
                  target="_blank"
                >
                  <img
                    src="img/project_photos/pokecard_react.png"
                    alt="Pokedex_app_img"
                /></a>
              </div>
            </div>
            <div class="grid-item__text-wrapper">
              <a href="https://knopgm-pokedex-api.netlify.app/" target="_blank">
                <h2 class="grid-item__title">Pokedex</h2></a
              >
              <p class="grid-item__description">
                This project will mock-up a pokedex, for users to search into a
                pokemons list including a few skills of each. Built with React,
                HTML and SCSS, the goal was load data from a external API,
                display and explore each of its data points in details.
              </p>
              <h4>Tech</h4>
              <ul class="project_techlist">
                <div class="project_techlist-item">
                  <li>React</li>
                </div>
                <div class="project_techlist-item">
                  <li>SCSS</li>
                </div>
                <div class="project_techlist-item">
                  <li>Axios</li>
                </div>
              </ul>
              <div class="grid-item__link">
                <a
                  href="https://github.com/knopgm/cf-ex2-external-api"
                  target="_blank"
                >
                  <include
                    class="item_link"
                    src="./src/icons/github.svg"
                  ></include>
                </a>
                <a
                  href="https://knopgm-pokedex-api.netlify.app/"
                  target="_blank"
                >
                  <include
                    class="item_link"
                    src="./src/icons/external.svg"
                  ></include>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Portfolio -->
      <div class="colored-box">
        <div class="colored-box__content">
          <div class="grid-item">
            <div class="project__image-wrapper">
              <div class="project__image">
                <a
                  href="https://github.com/knopgm/cf-ex1-portfolio"
                  target="_blank"
                >
                  <img
                    src="img/project_photos/portfolio_screenshot.png"
                    alt="Portfolio_img"
                  />
                </a>
              </div>
            </div>
            <div class="grid-item__text-wrapper">
              <a
                href="https://github.com/knopgm/cf-ex1-portfolio"
                target="_blank"
                ><h2 class="grid-item__title">Portfolio</h2></a
              >
              <p class="grid-item__description">
                My Portfolio is a easy and light static web-page, created to
                display my skills and some of the projects I coded. It’s written
                in the tradicional Javascript, HTML and CSS.
              </p>
              <h4>Tech</h4>
              <ul class="project_techlist">
                <div class="project_techlist-item">
                  <li>Javascript</li>
                </div>
                <div class="project_techlist-item">
                  <li>serverless function</li>
                </div>
              </ul>
              <div class="grid-item__link">
                <a
                  href="https://github.com/knopgm/cf-ex1-portfolio"
                  target="_blank"
                >
                  <include
                    class="item_link"
                    src="./src/icons/github.svg"
                  ></include>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- MyFlix (Angular) -->
      <div class="colored-box">
        <div class="colored-box__content">
          <div class="grid-item">
            <div class="project__image-wrapper">
              <div class="project__image">
                <a href="https://my-angular-flix.netlify.app" target="_blank">
                  <img
                    src="img/project_photos/myflix_angular_screenshot.png"
                    alt="MyFlix_Angular_App_version_img"
                /></a>
              </div>
            </div>
            <div class="grid-item__text-wrapper">
              <a href="https://my-angular-flix.netlify.app" target="_blank">
                <h2 class="grid-item__title">MyFlix (Angular)</h2></a
              >
              <p class="grid-item__description">
                This web application is a interactive movie store where users
                can not only search information about movies, genre and
                directors, but also keep a list of their favorite ones after a
                short registration. The goal was learn some basic knowleadge in
                one of the most popular Javascript frameworks: Angular.
              </p>
              <h4>Tech</h4>
              <ul class="project_techlist">
                <div class="project_techlist-item">
                  <li>Javascript</li>
                </div>
                <div class="project_techlist-item">
                  <li>Angular</li>
                </div>
                <div class="project_techlist-item">
                  <li>Angular Material</li>
                </div>
                <div class="project_techlist-item">
                  <li>Angular Router</li>
                </div>
              </ul>
              <div class="grid-item__link">
                <a
                  href="https://github.com/knopgm/myFlix-Angular-client"
                  target="_blank"
                >
                  <include
                    class="item_link"
                    src="./src/icons/github.svg"
                  ></include>
                </a>
                <a href="https://my-angular-flix.netlify.app" target="_blank">
                  <include
                    class="item_link"
                    src="./src/icons/external.svg"
                  ></include>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- App Chat -->
      <div class="colored-box">
        <div class="colored-box__content">
          <div class="grid-item">
            <div class="project__image-wrapper">
              <div class="project__image">
                <a href="https://github.com/knopgm/App-Chat" target="_blank">
                  <img
                    src="img/project_photos/app_chat_screenshot.jpeg"
                    alt="Chat_app_img"
                /></a>
              </div>
            </div>
            <div class="grid-item__text-wrapper">
              <a href="https://github.com/knopgm/App-Chat" target="_blank">
                <h2 class="grid-item__title">App Chat</h2></a
              >
              <p class="grid-item__description">
                A chat interface with option to share images, their location and
                chit-chat with friends online. Built for mobile devices using
                React-Native.
              </p>
              <h4>Tech</h4>
              <ul class="project_techlist">
                <div class="project_techlist-item">
                  <li>Expo</li>
                </div>
                <div class="project_techlist-item">
                  <li>React Navigation</li>
                </div>
                <div class="project_techlist-item">
                  <li>Gifted Chat</li>
                </div>
                <div class="project_techlist-item">
                  <li>Firestore</li>
                </div>
                <div class="project_techlist-item">
                  <li>NetInfo</li>
                </div>
                <div class="project_techlist-item">
                  <li>Expo Permissions</li>
                </div>
                <div class="project_techlist-item">
                  <li>Expo Location</li>
                </div>
                <div class="project_techlist-item">
                  <li>Expo Image Picker</li>
                </div>
                <div class="project_techlist-item">
                  <li>React Native Maps</li>
                </div>
              </ul>
              <div class="grid-item__link">
                <a href="https://github.com/knopgm/App-Chat" target="_blank">
                  <include
                    class="item_link"
                    src="./src/icons/github.svg"
                  ></include>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End of App Chat -->
    </div>
  </div>
</section>
