<section class="section_wrapper">
  <div id="welcome" class="profile">
    <div class="profile_first">
      <!-- <div class="profile__cropper">
            <img
              src="img/profile_avatar_cropped.png"
              alt="Gabriela Knop Portrait"
            />
          </div> -->
      <div class="avatar_container">
        <img class="avatar" src="img/port1.jpg" alt="Gabriela Knop Portrait" />
      </div>
    </div>

    <div class="profile_second">
      <div class="pagehome_infos">
        <div class="title-underline">
          <h1>Hi there!</h1>
        </div>
        <h3>A Web Developer, Frontend aspiring / enthusiastic</h3>
        <p>
          My interest in web development started back in 2012 when I first
          worked in an IT company environment as a trainee in Business
          administration.
          <br />
          At that time, I could just imagine the fun job my colleges have, but
          in 2019 I had the opportunity to do some online trial of programming
          courses, and finally experienced the emotions of interacting with
          internet creations. <br />
          Since then, I am still learning, practising and studying a lot to
          change my career path.
        </p>
        <p>
          I'm looking for working with a team, where I can help improve the
          company's products while learning and strengthening my skills.
        </p>
        <a href="https://github.com/knopgm" target="_blank"
          >Check out some of my code</a
        >
      </div>
    </div>

    <div class="profile_third">
      <div class="avatar_container">
        <img class="avatar" src="img/coffe.jpeg" alt="Gabriela Knop Portrait" />
      </div>
    </div>
  </div>
</section>
