<section id="welcome" class="page-section">
  <div class="profile_wrapper">
    <div class="profile">
      <div class="pagehome_infos">
        <div>
          <h1>Hey! I'm <span class="yellowing">Gabriela</span></h1>
          <h3>A Frontend Web Developer</h3>
        </div>
        <div class="aboutme_wrapper">
          <p>
            I’m a Web Developer with a business administration background,
            passionate about creating responsive and accessible user
            experiences.
          </p>
          <p>
            With a strong foundation in Frontend, I care deeply about clean
            code, thoughtful collaboration, and building interfaces that serve
            real users.
            <br />
            My journey into tech began with a full-stack bootcamp and has grown
            through real-world projects, freelance gigs, and mentorship. I love
            learning by doing — whether that’s testing components, working in
            cross-functional teams, or picking up new technologies that push me
            out of my comfort zone.
          </p>
          <p>
            My goal is to keep growing and improving my knowledge while working
            with great individuals, projects and companies that are responsive
            and user-experience-focused.
          </p>
        </div>
        <div class="check-github_text">
          <a
            class="github_link_check_text"
            href="https://github.com/knopgm"
            target="_blank"
            >Check out some of my code <br class="enter" /> </a
          ><br />
        </div>
      </div>
      <div class="avatar_wrapper">
        <div class="avatar_container">
          <img
            class="avatar"
            src="img/image2.png"
            alt="Gabriela Knop Portrait"
          />
        </div>
      </div>
    </div>
  </div>
</section>
