<section id="welcome" class="page-section">
  <div class="profile_wrapper">
    <div class="profile">
      <div class="pagehome_infos">
        <div>
          <h1>Hey! I'm <span class="yellowing">Gabriela</span></h1>
          <h3>A Frontend Web Developer</h3>
        </div>
        <div class="aboutme_wrapper">
          <p>
            I’m a Web Developer with a business administration background.
            <br />
            As a business administrative assistant in IT companies, my role
            included a variety of communication with many different stakeholders
            and suppliers. <br />
            These experiences not only improved my powerful communication,
            organization and problem-solving mindset skills but inspired me with
            the interactive results of coding and all related to their projects
            and daily routine.
          </p>
          <p>
            My goal is to keep growing and improving my knowledge while working
            with great individuals, projects and companies that are responsive
            and user-experience-focused.
          </p>
        </div>
        <div class="check-github_text">
          <a
            class="github_link_check_text"
            href="https://github.com/knopgm"
            target="_blank"
            >Check out some of my code <br class="enter" /> </a
          ><br />
        </div>
      </div>
      <div class="avatar_wrapper">
        <div class="avatar_container">
          <img
            class="avatar"
            src="img/image2.png"
            alt="Gabriela Knop Portrait"
          />
        </div>
      </div>
    </div>
  </div>
</section>
