:root {
  /*Colours list: */
  /* --primary-color: #357b70; */
  --secondary-color: #e0b354;
  --background-bisque-color: #ffe4c4;
  --background-peachpuff-color: #ffdab9;
  --white: #fff;
  --another-white: floralwhite;
  --visited-link-color: #bd8c7d;
  --active-link-color: #daaa7d;

  --dark-grey: #2b2b2b;
  --sun-color-one: #edc655;
  --sun-color-two: #fcffad;
  --sun-color-three: #f76414;
  --button-bg-color: #bd8c7d;

  /* knopgm pallete */
  --background-black: #09192f;
  --white-ton: #f4f8f8;
  --primary-color: #bd8c7d;
  --secondary-color: #264477;
  --interactive-hovered: #ed8a63;
  --green: #41b3a3;
  --gold: #daaa7d;
  --grey-blueish: #9eb2c5;
  --rosegolden: #bd8c7d;
  --another-blue-jeans: #3a4660;

  /*Fonts list: */
  --font-weight-thin: 400;
  --font-weight-normal: 500;
  --font-weight-bold: 600;
  --font-weight-bigger: 700;

  --font-size-body: 20px;
  --font-size-h1: 34px;
  --font-size-h2: 28px;
  --font-size-h3: 20px;
  --font-size-grid-h1: 22px;
}
